/**
 * Copyright 2020 NEM Foundation (https://nem.io)
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "../../../resources/css/variables.less";
 
.ledger_import_container {
  padding: 0 19px 10px 25px;
 
  .title_info {
    margin: 30px 0;
  }
 
 
  .ivu-select-placeholder {
    width: 650px;
  }
 
  .page_import_title {
    position: relative;
    margin-bottom: 30px;
    right: 19px;
    font-size: 30px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
  }
 
  .ivu-select-dropdown {
    width: 680px;
  }
 
  .describe {
    position: relative;
    right: 19px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding-bottom: 20px;
  }
 
  li {
    list-style: disc;
    font-size: 16px;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
    padding-bottom: 30px;
  }
 
 
  .tips {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-top: 10px;
    position: relative;
    right: 19px;
  }
 
  .gray_content.textarea {
    height: 90px;
 
    textarea {
      padding: 10px 30px;
    }
  }
 
  .formItemTxt {
    width: 1080px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 10px;
    margin-left: -25px;
  }
 
  .gray_content {
    right: 25px;
    margin-top: 10px;
    width: 680px;
    height: 60px;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 4px;
    position: relative;
    padding: 8px 1px;
 
    .ivu-select-selection {
      position: absolute !important;
      bottom: 10px;
    }
 
    textarea {
      width: 99%;
      height: 95%;
      font-size: 16px;
    }
 
    textarea::placeholder {
      color: #ccc;
    }
 
 
    input {
      width: 650px;
      height: 40px;
      border: none;
      padding-left: 20px;
      font-size: 16px;
    }
 
    input::placeholder {
      color: #ccc;
    }
  }
 }
 
 .bottom_button {
  width: 680px;
  position: relative;
  top: 40px;
  height: 80px;
 
  span {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(32, 181, 172, 1);
    display: inline-block;
    line-height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(32, 181, 172, 1);
    text-align: center;
    cursor: pointer;
    position: relative;
    bottom: 20px;
  }
 
  .import {
    background: rgba(32, 181, 172, 1);
    color: white;
  }
 }